<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.com" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Messaging App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<div th:replace="base::navlinks"></div>
<body>


<div class="container" >
    <div class="row">
    <div th:each="post : ${posts}">
        <div style="float: left">
            <div id="div2" ></div>
            <div id="div3"><span id="messNam"><a th:href="@{/privatemessage/{id} (id=${post.user.id})}">[[${post.user.getFirstName()}]] [[${post.user.getLastName()}]]</a></span></div>
        </div>
        <div id="div4">
            <span id="messmess"><strong>Username: &nbsp; [[${post.user.getFirstName()}]] &nbsp; Password:&nbsp; [[${post.user.getFirstName()}]]</strong>
                [[${post.text}]]</span>
        </div>
        <div id="div5">

        </div>
    </div>
    </div>
</div>

<div th:replace="base::footer"></div>

</body>
</html>

