<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.com" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Messaging App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<div th:replace="base::navlinks"></div>
<body>
<div style="padding: 30px">
<h1 align="center" style="color: white; font-family: 'Times New Roman'">Welcome to Code Work Academy Messaging App!</h1>
</div>
<div class="container" style="background-color:transparent";>
    <h2 align="center" style="font-family: cursive; color: white;">List of Messages</h2><br/><br/>
<div align="center">
    <table>
        <thead>
        <th id="tblh"><h3>Content</h3></th>
        <th id="tblh"><h3>Sent By</h3></th>
        <th id="tblh"><h3>Date</h3></th>
        </thead>
        <tr th:each="message : ${messages}">
            <td id="tbld1">[[${message.text}]]</td>
            <td id="tbld2">[[${message.sentBy}]]</td>
            <td id="tbld3">[[${message.date}]]</td>
            <td  sec:authorize="hasAuthority('USER')"><a id="tbld4" th:href="@{/messagedetail/{id} (id=${message.id})}">Details</a></td>
        </tr>
    </table>
</div>
        <br/><br/>
        <div align="center">
            <div  sec:authorize="!hasAuthority('USER')">
           <a th:href="@{/login}"> <button type="button" class="btn btn-secondary">Login</button></a>
           <a th:href="@{/register}"> <button type="button" class="btn btn-primary">Register</button></a>
            </div>
            <div sec:authorize="hasAuthority('USER')">
           <a th:href="@{/add}"> <button type="button" class="btn btn-light">Add Message</button></a>
           <a th:href="@{/logout}"> <button type="button" class="btn btn-primary">Logout</button></a>
            </div>
        </div><br/><br/>
    </div>
</div>
<div th:replace="base::footer"></div>
</body>
</html>